@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(25, 22, 22);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;/* Ensure body grows with content */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.main-image {
    transition: opacity 0.3s ease;
}

.main-image:hover {
    content: url("images/memoji-alt.png");
}

.intro {
    font-size: 56px;
    font-family: 'Rubik';
    color: azure;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px white;
    font-weight: 999;
}

.name {
    font-size: 56px;
    font-family: 'Rubik', serif;
    color: rgb(191, 126, 244);
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    font-weight: 999;
}

.desc {
    font-size: 48px;
    font-family: 'Rubik';
    color: azure;
    text-decoration: none;
    font-weight: 700px;
    margin-bottom: 20px;
}

.jobs {
    font-size: 48px;
    font-family: 'Rubik';
    color: lightcoral;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700px;
    transition: transform 0.5s ease-in-out;
}

#top-div {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(25, 22, 22);
    position: relative;
    min-height: 10vh; /* Ensure top-div grows with content */
}

.sub-div {
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(25, 22, 22);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    padding: 5px;
    transition: height 0.5s ease, width 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.sub-div:hover {
    background-color: #3a3333;
}

.sub-div-content {
    color: white;
    font-size: 18px;
    font-family: 'Rubik';
    font-weight: bold;
}

.card-content {
    display: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-family: 'Rubik';
    text-align: justify;
}

.sub-div.expanded {
    width: 100%;
    height: auto;
    z-index: 10;
    transition: height 0.5s ease, width 0.3s ease;;
}

.sub-div.expanded .sub-div-content {
    display: none;
}

.sub-div.expanded .card-content {
    display: block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
    position: relative;
    bottom: 0;
}

.logo {
    width: 40px;
    height: 40px;
    color: white;
}

.list {
    padding-left: 40px;
}

ol li {
    font-family: 'Rubik';
}

.hyperlink {
    color: white;

}